@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Varela+Round');

@layer base {
  body {
    margin: 0;
    font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI',
      'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
    overflow-x: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  h1 {
    @apply text-4xl font-bold mb-1.5;
  }

  h2 {
    @apply text-3xl font-bold mb-1;
  }

  h3 {
    @apply text-xl font-medium;
  }

  h4 {
    @apply text-lg font-medium;
  }

  .card {
    @apply container m-auto max-w-[52rem] bg-navy px-8 py-4 text-white;
  }

  .page {
    @apply w-full bg-navy-dark text-white;
  }
}

@layer component {
  .skill-card {
    @apply mx-auto max-w-xs sm:max-w-sm rounded-xl bg-navy-shade text-white;
  }

  .attribute-card {
    @apply flex items-center space-x-4 rounded-xl px-4 py-2;
  }

  .photo-template-card {
    @apply h-[24rem] w-[19rem] rounded-3xl border-opacity-80 bg-slate-200;
  }

  .photo-card {
    @apply m-auto rounded-3xl w-full h-full object-cover;
  }

  .label-text {
    @apply block font-medium text-gray-200 mb-2;
  }

  .input-text {
    @apply border rounded-lg block w-full p-2.5 bg-slate-500 border-gray-800 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500;
  }

  .biome-chip {
    @apply m-2 px-4 rounded-xl bg-gray-600 font-medium;
  }

  .button-group-minus {
    @apply p-1 sm:py-2 sm:px-4 text-sm font-bold rounded-l-lg border focus:z-10 focus:ring-2 bg-gray-700 border-gray-600 text-white hover:text-white hover:bg-slate-500 focus:ring-blue-500 focus:text-white;
  }

  .button-group-plus {
    @apply p-1 sm:py-2 sm:px-4 text-sm font-bold rounded-r-md border focus:z-10 focus:ring-2 bg-gray-700 border-gray-600 text-white hover:text-white hover:bg-slate-500 focus:ring-blue-500 focus:text-white;
  }
}
